<footer id="footer">     
        {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright 2017 - {{ .Site.Params.Author }} -
    {{ end }}
       As an Amazon Associate I earn from qualifying purchases.
    </p>
    <p class="small">
    </p>
    <div id="amzn-assoc-ad-f0286df3-0571-440c-970a-bab89e832bcb"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=f0286df3-0571-440c-970a-bab89e832bcb"></script>
   
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async></script>
</footer>
