<footer id="footer">     
        {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright 2017 - {{ .Site.Params.Author }} -
    {{ end }}
       As an Amazon Associate I earn from qualifying purchases.
    </p>
    <p class="small">
    </p>
    <div id="amzn-assoc-ad-f0286df3-0571-440c-970a-bab89e832bcb"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=f0286df3-0571-440c-970a-bab89e832bcb"></script>
   

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false" async></script><script type="text/javascript" async>window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"cd72053fa2423aa772ea4e72f","lid":"5c66347586","uniqueMethods":true}) })</script> 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async></script>
</footer>
