<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="msvalidate.01" content="B6FB794AAE55130EE6675821793C9429" />
		<meta name="yandex-verification" content="ae97523e637e685e" />
		<div align="center">
			<marquee behavior="alternate" bgcolor="black" direction="left" height:="" 
			loop="7" scrollamount="1" scrolldelay="2" width="100%">
			<a href="https://amzn.to/2UOiTLq"><span style="font-size: 20px;color:#FFFFFF">
			Stream Your Coding On Twitch Prime and Earn USD - Here is a Free Trial - Click Here - Offer Limited Time Only</span></a></marquee>
		   </div>
		   
		{{ if .Site.Params.enableTwitterCard }}
			{{ partial "twitter-cards.html" . }}
		{{ end }}
		{{ if .IsHome }}
		{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ else }}
	  {{ with .Params.author }}<meta name="author" content="{{ . }}">{{ end }}
		{{ with .Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ end }}
		<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }}{{ end }}</title>


		<link rel="shortcut icon" href="https://zeroequalsfalse.press/images/favicon.ico">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/highlight.css">

		{{ if eq .Site.Params.iconFont "font-awesome" }}
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/font-awesome.min.css">
		{{ else }}
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/monosocialiconsfont.css">
		{{ end }}

		{{ if .Site.Params.enableRSS }}
		<link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}

		{{ range .Site.Params.customCSS }}
		<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
		{{ end }}
		{{ partial "seo_schema" . }}
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92237772-4"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92237772-4');
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1924303450899511",
          enable_page_level_ads: true
     });
</script>
</head>
