<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ if .Site.Params.enableTwitterCard }}
			{{ partial "twitter-cards.html" . }}
		{{ end }}
		{{ if .IsHome }}
		{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ else }}
	  {{ with .Params.author }}<meta name="author" content="{{ . }}">{{ end }}
		{{ with .Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ end }}
		<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }}{{ end }}</title>


		<link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/favicon.ico">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/highlight.css">

		{{ if eq .Site.Params.iconFont "font-awesome" }}
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/font-awesome.min.css">
		{{ else }}
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/monosocialiconsfont.css">
		{{ end }}

		{{ if .Site.Params.enableRSS }}
		<link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}

		{{ range .Site.Params.customCSS }}
		<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
		{{ end }}
		{{ partial "seo_schema" . }}
		
		<link rel="canonical" href="https://zeroequalsfalse.press" />
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
			 (adsbygoogle = window.adsbygoogle || []).push({
				  google_ad_client: "ca-pub-1924303450899511",
				  enable_page_level_ads: true
			 });
		</script>
	</head>
