<script type="text/javascript">
    var addthis_share = {
       url: "{{ .Site.BaseURL }}posts/{{ .File.BaseFileName }}",
     }
    </script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c6e5b8fe1116e85" data-url="{{ .Site.BaseURL }}posts/{{ .File.BaseFileName }}"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox" data-url="{{ .Site.BaseURL }}posts/{{ .File.BaseFileName }}"></div>
<br>
<br>
<br>
<a href="https://www.bluehost.com/track/majikarp/" target="_blank"> <img border="0" src="https://bluehost-cdn.com/media/partner/images/majikarp/468x60/468x60PW.png"> </a>
<a href="https://www.bluehost.com/track/majikarp/" target="_blank"> <img border="0" src="https://bluehost-cdn.com/media/partner/images/majikarp/468x60/468x60PW.png"> </a>
