<script type="text/javascript">
    var addthis_share = {
       url: "{{ .Site.BaseURL }}posts/{{ .File.BaseFileName }}",
     }
    </script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c6e5b8fe1116e85" data-url="{{ .Site.BaseURL }}posts/{{ .File.BaseFileName }}"></script>
<br>
<br>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox" data-url="{{ .Site.BaseURL }}posts/{{ .File.BaseFileName }}"></div>
<br>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zef -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1924303450899511"
     data-ad-slot="4192582952"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zef -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1924303450899511"
     data-ad-slot="4192582952"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zef -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1924303450899511"
     data-ad-slot="4192582952"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zef -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1924303450899511"
     data-ad-slot="4192582952"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zef -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1924303450899511"
     data-ad-slot="4192582952"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zef -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1924303450899511"
     data-ad-slot="4192582952"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zef -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1924303450899511"
     data-ad-slot="4192582952"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zef -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1924303450899511"
     data-ad-slot="4192582952"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zef -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1924303450899511"
     data-ad-slot="4192582952"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- zef -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1924303450899511"
     data-ad-slot="4192582952"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>