<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c6e5b8fe1116e85"></script>
        
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>

<a class="twitter" href="https://twitter.com/intent/tweet?text={{ .Permalink }} - {{ .LinkTitle }} {{ with .Site.Params.twitter }}by @{{ . }}{{ end }}"><span class="icon-twitter"> {{ .Site.Params.tweet | default "Tweet" }}</span></a>

<a class="facebook" href="#" onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;"><span class="icon-facebook-rect"> {{ .Site.Params.share | default "Share" }}</span>
</a>
<br>
<br>
<br>
<a href="https://www.bluehost.com/track/majikarp/" target="_blank"> <img border="0" src="https://bluehost-cdn.com/media/partner/images/majikarp/468x60/468x60PW.png"> </a>
